{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Register - Travel Lykkr{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header text-center">
                <h4 class="mb-0">
                    <i class="fas fa-user-plus"></i> Create Account
                </h4>
            </div>
            <div class="card-body">
                <p class="text-muted text-center mb-4">
                    Join Travel Lykkr to start booking your travels!
                </p>
                
                {% crispy form %}
                
                <hr>
                
                <div class="text-center">
                    <p class="mb-0">
                        Already have an account? 
                        <a href="{% url 'login' %}" class="text-decoration-none">Login here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
